<div class="menu_container container">
    <div class="menu_title">
        Quản lý sinh viên
    </div>
    <div class="menu_item">
        <div class="row item">
            @Html.ActionLink("Danh sách sinh viên", "index", "student")
        </div>
        <div class="row item">
            @Html.ActionLink("Lý lich SV", "info", "student")
        </div>
        <div class="row item">
            @Html.ActionLink("Môn học", "course", "student")
        </div>
        <div class="row item">
            @Html.ActionLink("Điểm", "point", "student")
        </div>
        <div class="row item">
            @Html.ActionLink("Thành tích học tập", "index", "student")
        </div>
    </div>
</div>