<div class="menu_container container">
    <div class="menu_title">
        Quản lý sinh
    </div>
    <div class="menu_item">
        <div class="row item">
            @Html.ActionLink("Lớp học", "class_student", "student")
        </div>
        <div class="row item">
            @Html.ActionLink("Sinh viên", "index", "student")
        </div>
        <div class="row item">
            @Html.ActionLink("Lý lịch sinh viên", "info", "student")
        </div>
        <div class="row item">
            @Html.ActionLink("Môn học", "course", "student")
        </div>
        <div class="row item">
            @Html.ActionLink("Điểm", "point", "student")
        </div>
        <div class="row item">
            @Html.ActionLink("Kết quả học tập", "edu_result", "student")
        </div>
    </div>
</div>